# Created by .ignore support plugin (hsz.mobi)
.settings
.classpath
.project
target
# idea ignore
.idea/
*.ipr
*.iml
*.iws
*.log
/.idea/
/.idea/codeStyles/
/.idea/inspectionProfiles/
/.idea/.gitignore
/.idea/docker_image_pusher.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
